body{
    margin: 0%;
}

.container{
    width: 95%;
    height: 100%;

    /* background-color: beige; */
}

.justificar-center{
    display: flex;
    justify-content: center;
}

.justificar-eve{
    display: flex;
    justify-content: space-evenly;
}
.justificar-between{
    display: flex;
    justify-content: space-between;
}
.justificar-around{
    display: flex;
    justify-content: space-around;
}

.column{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}

.navBar{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10vh;

}

.boxNavBar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

    height: 100%;
    width: 100%;

}

.conteudoNavBar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.extremo{
    width: 10vw;
}

.meio{
    width: 40vw;
}

.iconNavBar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;

    /* background-color: blue; */
}

.boxTextoNavBar{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 20vw;

    /* background-color: azure; */
}

.textoNavBar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;

/* background-color: aqua; */
}

.textoNavBar span{
    font-size: 18px;
    font-weight: bold;
    color: #900020
}

.iconNavBar{
    width: 100%;
    height: 100%;
}

.iconNavBar img{
    width: 42px;
    height: 42px;
}

.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 80vh;
    width: 100%;

   
}

.boxRodape{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    width: 100%;

    border-radius: 3%;
    
}

.conteudoRodape-esquerdo{
    position: relative;

    height: 90%;
    width: 40%;

}

.conteudoRodape-direito{
    flex-direction: column;
    height: 70%;
    width: 40%;
    
    /* background-color: rgb(198, 198, 198); */
}

.boxTituloRp{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 20%;

    /* background-color: aqua; */
}

.tituloRp{
    display: flex;
    align-items: center;
    width: auto;
    height: 70%;

    /* background-color: rgb(25, 72, 72); */
}

.tituloRp span{
    font-size: 32px;
    font-weight: bold;
    color: #900020;
}


.boxConteudoRp{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40%;

    /* background-color: azure; */
}

.conteudoRp{
    height: 90%;
    width: 100%;

    /* background-color: rgb(229, 229, 229); */
}

.boxtituloConteudoRp{
    width: 100%;
    height: 30%;
    /* background-color: aliceblue; */
}

.tituloConteudoRp{
    display: flex;
    align-items: end;

    height: 100%;
    width: auto;
    /* background-color: brown; */
}

.tituloConteudoRp span{
    font-size: 20px;
    font-weight: bold;
    
    color: #900020;
}



.boxTextoConteudoRp{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
    height: 30%;

    /* background-color: rgb(199, 153, 153); */
}

.textoConteudoRp{
    width: 90%;
    height: auto;

    /* background-color: rgb(0, 0, 0); */

}

.boxDireitosAutorais{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    height: 3%;

    /* background-color: aquamarine; */
}

.boxDireitosAutorais span{
    font-size: 12px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.455);
}


.navBar2{
    display: flex;
    justify-content: center;
    height: 10vh;
    width: 100%;

    background-color: #900020;
}
